{{- if .Values.gateway.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "acme-shop.fullname" . }}-gateway
  labels:
    {{- include "acme-shop.gateway.labels" . | nindent 4 }}
spec:
  type: {{ .Values.gateway.service.type }}
  ports:
    - port: {{ .Values.gateway.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "acme-shop.gateway.selectorLabels" . | nindent 4 }}
{{- end }}
